{%- extends "base.html" %}
{% block body_attribs %} class="deploy" onLoad="onDeployPageLoad"{% endblock %}

{% block content %}
  <div class="container">
    <h1>Deploy</h1>
    <div class="jumbotron">
      <p>Note: This will deploy FIAAS deploy daemon to all FIAAS-enabled namespaces in the cluster.</p>
    </div>
    <div class="center-block" style="max-width: 400px">
      <button id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Deploy</button>
    </div>
  </div>
{%- endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='skipper.js')}}"></script>
{% endblock %}
