{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Welcome to FIAAS</h1>
        <p>This is the FIAAS controller application that allows you to bootstrap your cluster.</p>
      <p>More information about the different FIAAS modules can be found on <a href="https://github.com/fiaas">
      github</a>.</p>
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="https://confluence.schibsted.io/display/SPTINF/Deploy+using+PaaS" >Show docs</a>
      </p>
    </div>
   </div>
{%- endblock %}
