{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block body_attribs %} class="status"{% endblock %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div>
      <h1>Status</h1>
      <p>This lists namespaces in the cluster that have been FIAAS enabled and their status.</p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Namespace</th>
          <th scope="col">Status</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody id="tbody" />
    </table>
    <p><small>Refreshed periodically</small></p>
   </div>
{%- endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('static', filename='skipper.js')}}"></script>
{% endblock %}
