name: fiaas-skipper
image:
  repository: fiaas/skipper
  tag: "latest"
  pullPolicy: Always
ingress:
  fqdn: fiaas-skipper.yourcluster.local
  enableTLS: true
  annotations: {}
deployment:
  # include the resource requests and limits
  includeResourceUsage: true
TPR: false
CRD: true
baseurl: 'http://fiaas-release.delivery-pro.schibsted.io'
annotations: {}
